:root{
    /* fintfamily */
    --ff-lex:'Lexend Deca', sans-serif;
    --ff-bsd:'Big Shoulders Display', sans-serif;
    /* color */
    --clr-orange:hsl(31, 77%, 52%);
    --clr-cyan:hsl(184, 100%, 22%);
    --clr-vcyan:hsl(179, 100%, 13%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
}

.item{
    width: 250px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    color: aliceblue;
}
.button{
    display: flex;
}
.button h1{
    font-size: .8rem;
    font-family: var(--ff-lex);
    font-weight: 400;
}
.button a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 40px;
}
.item h2{
    font-family: var(--ff-bsd);
    margin: 1rem 0 1rem;
    text-transform: uppercase;
}
.item p{
    font-size: .8rem;
    font-family: var(--ff-lex);
}

.item:nth-child(1){
    background-color: var(--clr-orange);
}
.item:nth-child(2){
    background-color: var(--clr-cyan);
}
.item:nth-child(3){
    background-color: var(--clr-vcyan);
}
.orange a:hover{
    background-color: white;
    color: var(--clr-orange);
}
.cyan a:hover{
    background-color: white;
    color: var(--clr-cyan);
}
.vcyan a:hover{
    background-color: white;
    color: var(--clr-vcyan);
}

